<div class="m50" id="simpler-resume">
	<h2>Standard Resume</h2>

	<section id="skills">
    <h3 class="section-title green">Skills</h3>
    <h4 class="section-subtitle yellow">Languages</h4>
    <ul class="list-group resume-list">
     	<li class="list-group-item">Ruby</li>
     	<li class="list-group-item">Python</li>
     	<li class="list-group-item">JavaScript</li>
     	<li class="list-group-item">PHP</li>
     	<li class="list-group-item">CSS</li>
     	<li class="list-group-item">HTML</li>
    </ul>
    
    <h4 class="yellow">Frameworks</h4>
    <ul class="list-group resume-list">
      <li class="list-group-item">
        <span class="badge">Proficient &mdash; ready for v.4!</span>
        Twitter Bootstrap
      </li>
      <li class="list-group-item">
        <span class="badge">Intermediary &mdash; passionate about it</span>
        Ruby on Rails
      </li>
      <li class="list-group-item">
        <span class="badge">Studying it</span>
        AngularJS
      </li>
      <li class="list-group-item">
      	<span class="badge">Just a basic knowledge</span>
        Django
      </li>
    </ul>
  
    <h4 class="yellow">Miscellaneous</h4>
    <ul class="list-group resume-list">
      <li class="list-group-item">Sass (scss)</li>
      <li class="list-group-item">JQuery</li>
      <li class="list-group-item">CoffeeScript</li>
      <li class="list-group-item">Sublime Text 2</li>
      <li class="list-group-item">Google App Engine SDK</li>
      <li class="list-group-item">Heroku</li>
      <li class="list-group-item">Filezilla</li>
      <li class="list-group-item">Command Line (Linux, Mac &amp; Windows)</li>
      <li class="list-group-item">Inkscape</li>
      <li class="list-group-item">Photoscape</li>
      <li class="list-group-item">MS Office Suite</li>
      <li class="list-group-item">WordPress ('Underscores - _s', child-themes and plugin development)</li>
      <li class="list-group-item">Database migration</li>
      <li class="list-group-item">Virtualbox</li>
      <li class="list-group-item">WAMP localhost</li>
      <li class="list-group-item">DNS, cPanel, phpMyAdmin</li>
      <li class="list-group-item">Responsive web design</li>
      <li class="list-group-item">Performance optimization</li>
      <li class="list-group-item">Version Control (Git &amp; Github)</li>          
    </ul>    
  </section>

  <section id="portfolio">
    <h3 class="section-title orange">Recent projects</h3>

    <ul class="list-inline" ng-repeat="post in posts | orderBy: '-importance'">
      <li>
        <a href="{{post.link}}" target="_blank">
          <img class="img-st-pt" ng-src="{{post.image_url | assetPath}}" alt="{{post.image_alt}}">
        </a>
        <a href="{{[post.link]}}" target="_blank">
          <span class="portfolio-desc text-center">
            <p class="light-orange">{{post.alttitle}}</p>
          </span>
        </a>
      </li>
    </ul>

    <div class="row">

      <div class="col-sm-4">
        <a href="http://pwdd.herokuapp.com/#/home">
          <img class="img-responsive" src="<%= asset_path('resume.png') %>" alt="web developer resume">
        </a>
        <a href="http://pwdd.herokuapp.com/#/home" target="_blank">
          <span class="portfolio-desc text-center">
            <p class="light-orange">My Webapp Resume</p>
          </span>
        </a>
      </div>

      <div class="col-sm-4">
        <a href="https://enigmatic-ocean-6284.herokuapp.com/" target="_blank">
          <img class="img-responsive" src="<%= asset_path('rails_blog.png') %>" alt="blog developed with ruby on rails">            
        </a>
        <a href="https://enigmatic-ocean-6284.herokuapp.com/" target="_blank">
          <span class="portfolio-desc text-center">
            <p>A Rails blog</p>
          </span>
        </a>
      </div>

      <div class="col-sm-4">
        <a href="http://fierce-earth-5784.herokuapp.com/#/home" target="_blank">
          <img class="img-responsive" src="<%= asset_path('flapper.png') %>" alt="flapper news, ruby on rails and angularjs app">
        </a>
        <a href="http://fierce-earth-5784.herokuapp.com/#/home" target="_blank">
          <span class="portfolio-desc text-center">
            <p>Angular Rails webapp</p>
          </span>
        </a>
      </div>
    </div><!--row-->

    <div class="row">
      <div class="col-sm-4">
        <a href="https://secure-ocean-1268.herokuapp.com/#/" target="_blank">
          <img class="img-responsive" src="<%= asset_path('receta.png') %>" alt="receta, ruby on rails and angularjs app">
        </a>
        <a href="https://secure-ocean-1268.herokuapp.com/#/" target="_blank">
          <span class="portfolio-desc text-center">
            <p>Angular Rails webapp</p>
          </span>
        </a>
      </div>

      <div class="col-sm-4">
        <a href="http://webdev-ud.appspot.com/blog" target="_blank">
          <img class="img-responsive" src="<%= asset_path('pythonblog.png') %>" alt="blog developed with python">
        </a>
        <a href="http://webdev-ud.appspot.com/blog" target="_blank">
          <span class="portfolio-desc text-center">
            <p>A Python blog</p>
          </span>
        </a>
      </div>

      <div class="col-sm-4">
        <a href="http://codepen.io/pwdd/full/epByWB/" target="_blank">
          <img class="img-responsive" src="<%= asset_path('weather.png') %>" alt="free code camp project - local weather">
        </a>
        <a href="http://codepen.io/pwdd/full/epByWB/" target="_blank">
          <span class="portfolio-desc text-center">
            <p>Local Weather</p>
          </span>
        </a>
      </div>
    </div><!--row-->

    <div class="row">
      <div class="col-sm-4">
        <a href="http://muchas.com.br" target="_blank" rel="nofollow">
          <img class="img-responsive" src="<%= asset_path('muchas.png') %>" alt="wordpress website">
        </a>
        <a href="http://muchas.com.br" target="_blank" rel="nofollow">
          <span class="portfolio-desc text-center">
            <p class="light-orange">Muchas</p>
          </span>
        </a>
      </div>

      <div class="col-sm-4">
        <a href="http://futuregenerationsgis.com" target="_blank rel="nofollow"">
          <img class="img-responsive" src="<%= asset_path('gis.png') %>" alt="wordpress website">
        </a>
        <a href="http://futuregenerationsgis.com" target="_blank" rel="nofollow">
          <span class="portfolio-desc text-center">
            <p class="light-orange">Future Generations</p>
          </span>
        </a>
      </div>

      <div class="col-sm-4">
        <a href="http://paulomoreiraleite.com" target="_blank" rel="nofollow">
          <img class="img-responsive" src="<%= asset_path('paulo_moreira_leite.png') %>" alt="wordpress website">
        </a>
        <a href="http://paulomoreiraleite.com" target="_blank" rel="nofollow">
          <span class="portfolio-desc text-center">
            <p class="light-orange">Journalistic websites</p>
          </span>
        </a>
      </div>
    </div><!--row-->

    <div class="row">

      <div class="col-sm-4">
        <a href="http://atemaisver.com/en" target="_blank" rel="nofollow">
          <img class="img-responsive" src="<%= asset_path('av.png') %>" alt="bilingual wordpress website">
        </a>
        <a href="http://atemaisver.com/en" target="_blank" rel="nofollow">
          <span class="portfolio-desc text-center">
            <p class="light-orange">A+V</p>
          </span>
        </a>
      </div>
      
      <div class="col-sm-4">
        <a href="http://onirikafilms.com" target="_blank" rel="nofollow">
          <img class="img-responsive" src="<%= asset_path('onirika_films.png') %>" alt="wordpress website">
        </a>
        <a href="http://onirikafilms.com" target="_blank" rel="nofollow">
          <span class="portfolio-desc text-center">
            <p class="light-orange">Onirika Films</p>
          </span>
        </a>
      </div>

      <div class="col-sm-4">
        <a href="http://lma.global" target="_blank" rel="nofollow">
          <img class="img-responsive" src="<%= asset_path('lma.png') %>" alt="bilingual wordpress website">
        </a>
        <a href="http://lma.global" target="_blank" rel="nofollow">
          <span class="portfolio-desc text-center">
            <p class="light-orange">LMA</p>
          </span>
        </a>
      </div>
    </div>

    <div class="row">

      <div class="col-sm-4">
        <a href="http://turminhasaudavel.com.br" target="_blank" rel="nofollow">
          <img class="img-responsive" src="<%= asset_path('turminha.png') %>" alt="wordpress website">
        </a>
        <a href="http://turminhasaudavel.com.br" target="_blank" rel="nofollow">
          <span class="portfolio-desc text-center">
            <p class="light-orange">Turminha Saudável</p>
          </span>
        </a>
      </div>

      <div class="col-sm-4">
        <a href="http://allsportsphotoagency.com" target="_blank" rel="nofollow">
          <img class="img-responsive" src="<%= asset_path('allsports.png') %>" alt="wordpress website">
        </a>
        <a href="http://allsportsphotoagency.com" target="_blank" rel="nofollow">
          <span class="portfolio-desc text-center">
            <p class="light-orange">WordPress Plugin</p>
          </span>
        </a>
      </div>

      <div class="col-sm-4">
        <a href="http://premierpescados.com.br" target="_blank" rel="nofollow">
          <img class="img-responsive" src="<%= asset_path('premier.png') %>" alt="wordpress website">
        </a>
        <a href="http://premierpescados.com.br" target="_blank" rel="nofollow">
          <span class="portfolio-desc text-center">
            <p class="light-orange">Premier Pescados</p>
          </span>
        </a>
      </div>
    </div><!--row-->

    <p id="projects-notice">&mdash; Some of these websites have owner controlled content, so I'm not responsible for changes that clients do after their websites are done. ;-)</p>
  </section>

  <section id="work-experience">
    <h3 class="section-title purple">Work experience</h3>
    <a class="work-link" href="http://muchas.com.br" target="_blank" rel="nofollow">Muchas</a>
    <p>Freelance web developer | September 2014 - Present</p>
    <p>I've been developing websites for Muchas, a Brazilian digital content marketing agency, since they started. My first project with them was their own website. My work consists of talking to their graphic designers, helping find WordPress templates when necessary, discussing the best solutions for their clients' websites, and finding and configuring plugins. I also take care of everything related to the websites, including editing DNS record, setting web hosting accounts, FTP clients, and domain redirections.</p>

    <a class="work-link" href="http://lma.global" target="_blank" rel="nofollow">LMA</a>
    <p>Freelance web developer | March 2014 - Present</p>
    <p>My first work as a web developer was freelancing for LMA, a Brazilian graphic design agency specializing in branding and publicity, and we have been working together ever since. One of the projects we did together was their new website, which is currently having its content uploaded. My work with them consists of turning the design files (.ai, .psd) into websites. I also work setting web hosting accounts, installing and configuring plugins, and analytics tracking.</p>
  </section>

  <section id="volunteer">
    <h3 class="section-title pink">Volunteer work</h3>
    <a class="work-link" href="http://freecodecamp.com" target="_blank" rel="nofollow">Free Code Camp</a></p>
    <p>August 2015 - Present</p>
    <p>I am part of the team translating the content from Free Code Camp into Portuguese. We are working on a collaborative repository on Github, translating JSON files.</p>
  </section>

  <section id="continued-ed">
    <h3 class="section-title orange">Continuing education</h3>

    <p><strong>Engineering Software as a Service (using Rails)</strong></p>
    <p class="mb30">
      Currently enrolled: MOOC &mdash; edX | University of California, Berkeley
    </p>

    <p><strong>Ruby on Rails Web Development Specialization</strong></p>
    <p class="mb30">Currently enrolled: MOOC &mdash; Coursera | Johns Hopkins University</p>

    <p><strong>Free Code Camp</strong></p>
    <p class="mb30">Currently enrolled: The program includes the MEAN stack (MongoDB, ExpressJS, AngularJS, NodeJS), jQuery, Regex and Pair Programming</p>

    <p><strong>Web Application Architecture (Ruby on Rails)</strong></p>
    <p class="mb30">MOOC &mdash; Coursera | New Mexico University</p>

    <p><strong>Web Performance Optimization</strong></p>
    <p class="mb30">MOOC &mdash; Udacity</p>

    <p><strong>Javascript Basics</strong></p>
    <p class="mb30">MOOC &mdash; Udacity</p>

    <p><strong>Intro to Point &amp; Click App Development (Salesforce)</strong></p>
    <p class="mb30">MOOC &mdash; Udacity</p>

    <p><strong>Programming Foundations with Python (OOP)</strong></p>
    <p class="mb30">MOOC &mdash; Udacity</p>

    <p><strong>Web Development</strong></p>
    <p class="mb30">MOOC &mdash; Udacity</p>

    <p><strong>An Introduction to Interactive Programming in Python</strong></p>
    <p class="mb30">MOOC &mdash; Coursera | Rice University</p>

    <p><strong>Metadata: Organizing and Discovering Information</strong></p>
    <p class="mb30">MOOC &mdash; Coursera | The University of North Carolina at Chapel Hill</p>

    <p><strong>Learn to Program: The Fundamentals</strong></p>
    <p class="mb30">MOOC &mdash; Coursera | University of Toronto</p>

    <p><strong>Introduction to Systematic Program Design</strong></p>
    <p class="mb30">MOOC &mdash; Coursera | The University of British Columbia</p>
  </section>

  <section id="education">
    <h3 class="section-title green">Education</h3>
    <p><strong>Sao Paulo State University, Brazil</strong></p>
    <p>1996 to 2001 | B.A. in Social Communication with a specialization in Journalism</p>
  </section>

  <section id="languages">
    
    <h3 class="section-title orange">Human Languages</h3>
    <div class="row">
      <div class="col-md-6">
        <h4 class="center white">English</h4>
        <ul class="list-group resume-list">
          <li class="list-group-item">
            <span class="badge">Fluent</span>
              Speaking
          </li>
          <li class="list-group-item">
            <span class="badge">Fluent</span>
              Reading
          </li>
          <li class="list-group-item">
            <span class="badge">Fluent</span>
              Listening
          </li>
          <li class="list-group-item">
            <span class="badge">Fluent</span>
              Writing
          </li>
        </ul>                
      </div>
      <div class="col-md-6">
        <h4 class="center white">Spanish</h4>
        <ul class="list-group resume-list">
          <li class="list-group-item">
            <span class="badge">Basic</span>
              Speaking
          </li>
          <li class="list-group-item">
            <span class="badge">Advanced</span>
              Reading
          </li>
          <li class="list-group-item">
            <span class="badge">Intermediary</span>
              Listening
          </li>
          <li class="list-group-item">
            <span class="badge">Basic</span>
              Writing
          </li>
        </ul>                
      </div>
    </div>
    <h4 class="center white">Portuguese</h4>
    <ul class="list-group resume-list">
      <li class="list-group-item center">Native language</li>
    </ul>
  </section>
</div>
