<div class="m50" id="simpler-resume">
	<h2>Standard Resume</h2>

  <h3 class="yellow">Experience</h3>

  <section id="volunteer">

    <h4 class="section-title pink">Volunteer work</h4>
    <a class="work-link" href="https://www.coursera.org/learn/ruby-on-rails-intro" target="_blank" rel="nofollow">Mentor for the course 'Ruby on Rails' (Coursera)</a></p>
    <p>December 2015 - March 2016</p>
    <p>I am one of the five people invited to be a mentor for the course 'Ruby on Rails', on Coursera. I got invited because of my final grande when I took the course (99.1%) and my participation on the forums.</p>

    <br>
    <a class="work-link" href="http://freecodecamp.com" target="_blank" rel="nofollow">Translator for Free Code Camp</a></p>
    <p>August 2015 - Present</p>
    <p>I am part of the team translating the content of Free Code Camp into Portuguese. We are working on a collaborative repository on Github, translating JSON files.</p>
  </section>

  <section id="work-experience">
    <h4 class="section-title purple">Work</h4>
    <a class="work-link" href="http://muchas.com.br" target="_blank" rel="nofollow">Muchas</a>
    <p>Freelance web developer | September 2014 - Present</p>
    <p>I've been developing websites for Muchas, a Brazilian digital content marketing agency, since they started. My first project with them was their own website. My work consists of talking to their graphic designers, helping find WordPress templates when necessary, discussing the best solutions for their clients' websites, and finding and configuring plugins. I also take care of everything related to the websites, including editing DNS record, setting web hosting accounts, FTP clients, and domain redirections.</p>

    <a class="work-link" href="http://lma.global" target="_blank" rel="nofollow">LMA</a>
    <p>Freelance web developer | March 2014 - Present</p>
    <p>My first work as a web developer was freelancing for LMA, a Brazilian graphic design agency specializing in branding and publicity, and we have been working together ever since. One of the projects we did together was their new website. My work with them consists of turning the design files (.ai, .psd) into websites. I also work setting web hosting accounts, installing and configuring plugins, and analytics tracking.</p>
  </section>

  

  <section id="portfolio">
    <h3 class="section-title orange">Recent projects</h3>

    <div class="row mb30">
      <div class="col-sm-4">
        <a href="http://pwdd.herokuapp.com/#/home">
          <img class="img-responsive" src="<%= asset_path('resume.png') %>" alt="web developer resume">
        </a>
      </div>

      <div class="col-sm-8">
        <h4 class="project-name">My Webapp Resume</h4>

        <p>
          <a href="<%= root_path %>" title="live"><span>live</span></a>
          |
          <a href="https://github.com/pwdd/app_resume" title="source code">
            <span>source code</span>
          </a>
        </p>
        <p>
          <em class="green">Stack: </em> Ruby on Rails, AngularJS, Bootstrap-Sass
        </p>
        <p>
          <em class="green">About: </em> My full stack web developer resume, based on the look of the code editor 'Sublime Text'.
        </p>
      </div>
    </div><!--row-->

    <hr>

    <div class="row mb30">
      <div class="col-sm-4">
        <a href="http://agile-garden-2480.herokuapp.com/" target="_blank">
          <img class="img-responsive" src="<%= asset_path('rotten.png') %>" alt="cs169 rotten potatoes">
        </a>
      </div>

      <div class="col-sm-8">
        <h4 class="project-name">Rotten Potatoes</h4>
        <p>
          <a href="http://agile-garden-2480.herokuapp.com/" title="live" target="_blank"><span>live</span></a>
          |
          <a href="https://github.com/pwdd/ticketee" title="source code" target="_blank">
            <span>source code</span>
          </a>
        </p>
        <p>
          <em class="green">Stack: </em>Ruby on Rails
        </p>
        <p>
          <em class="green">About: </em>Project developed during the course CS169 - Engineering Software as a Service. It uses Cucumber, Capybara and RSpec in the test suite. Styling given by intructors.  
        </p>
      </div>
    </div><!--row-->

    <hr>

    <div class="row mb30">
      <div class="col-sm-4">
        <a href="https://recipefinder-pwdd.herokuapp.com/" target="_blank">
          <img class="img-responsive" src="<%= asset_path('recipefinder.png') %>" alt="recipe finder app built with ruby on rails">
        </a>
      </div>

      <div class="col-sm-8">
        <h4 class="project-name">Recipe Finder</h4>
        <p>
          <a href="https://recipefinder-pwdd.herokuapp.com/" title="live" target="_blank"><span>live</span></a>
          |
          <a href="https://github.com/pwdd/recipe_finder" title="source code" target="_blank">
            <span>source code</span>
          </a>
        </p>
        <p>
          <em class="green">Stack: </em>Ruby on Rails, Bootstrap-Sass, third party API
        </p>
        <p>
          <em class="green">About: </em>Searches recipes using a third party API. HTTP requests managed using HTTParty. This project is a modified version of an assignment for Ruby on Rails: An Introduction, first part of Ruby on Rails Web Development Specialization. Besides the assignment requirements, it implements a search box, the links to previous and next pages, sorting, helpers and partial views.
        </p>
      </div>       
    </div><!--row-->

    <hr>

    <div class="row mb30">
      <div class="col-sm-4">
        <a href="http://fierce-earth-5784.herokuapp.com/#/home" target="_blank">
          <img class="img-responsive" src="<%= asset_path('flapper.png') %>" alt="ruby on rails and angularjsproject">
        </a>
      </div>

      <div class="col-sm-8">
        <h4 class="project-name">Upvote news</h4>
        <p>
          <a href="http://fierce-earth-5784.herokuapp.com/#/home" title="live" target="_blank"><span>live</span></a>
          |
          <a href="https://github.com/pwdd/flapper_news" title="source code" target="_blank">
            <span>source code</span>
          </a>
        </p>
        <p>
          <em class="green">Stack: </em>Ruby on Rails, AngularJS, Bootstrap-Sass
        </p>
        <p>
          <em class="green">About: </em>Webapp that allows logged in users to post links to articles and upvote them. It uses Bower to manage AngularJs and Bootstrap-Sass.
        </p>
      </div>       
    </div><!--row-->

    <hr>

    <div class="row mb30">
      <div class="col-sm-4">
        <a href="https://secure-ocean-1268.herokuapp.com/#/" target="_blank">
          <img class="img-responsive" src="<%= asset_path('receta.png') %>" alt="ruby on rails and angularjs project">
        </a>
      </div>

      <div class="col-sm-8">
        <h4 class="project-name">Receta</h4>
        <p>
          <a href="https://secure-ocean-1268.herokuapp.com/#/" title="live" target="_blank"><span>live</span></a>
          |
          <a href="https://github.com/pwdd/receta" title="source code" target="_blank">
            <span>source code</span>
          </a>
        </p>
        <p>
          <em class="green">Stack: </em>Ruby on Rails, AngularJS, Bootstrap-Sass
        </p>
        <p>
          <em class="green">About: </em>Webapp that looks for recipes on the app database.
        </p>
      </div>       
    </div><!--row-->

    <hr>

    <div class="row mb30">
      <div class="col-sm-4">
        <a href="https://enigmatic-ocean-6284.herokuapp.com/" target="_blank">
          <img class="img-responsive" src="<%= asset_path('rails_blog.png') %>" alt="blog built with ruby on rails">
        </a>
      </div>

      <div class="col-sm-8">
        <h4 class="project-name">A Rails Blog</h4>
        <p>
          <a href="https://enigmatic-ocean-6284.herokuapp.com/" title="live" target="_blank"><span>live</span></a>
          |
          <a href="https://github.com/pwdd/odinproject/tree/master/blogger_jumpstartlab/blogger" title="source code" target="_blank">
            <span>source code</span>
          </a>
        </p>
        <p>
          <em class="green">Stack: </em>Ruby on Rails
        </p>
        <p>
          <em class="green">About: </em>A simple blog built with Ruby on Rails. Styling given by instructors.
        </p>
      </div>       
    </div><!--row-->

    <hr>

    <div class="row mb30">
      <div class="col-sm-4">
        <a href="http://secure-dusk-1216.herokuapp.com" target="_blank">
          <img class="img-responsive" src="<%= asset_path('hangperson.png') %>" alt="hangperson built with sinatra using restful routes">
        </a>
      </div>

      <div class="col-sm-8">
        <h4 class="project-name">Hangperson</h4>
        <p>
          <a href="http://secure-dusk-1216.herokuapp.com" title="live" target="_blank"><span>live</span></a>
          |
          <a href="https://github.com/pwdd/hw-sinatra-saas-hangperson" title="source code" target="_blank">
            <span>source code</span>
          </a>
        </p>
        <p>
          <em class="green">Stack: </em>Ruby, Sinatra
        </p>
        <p>
          <em class="green">About: </em>A Hangman game built using TDD (RSpec) and Restful actions. Words are get through a third party API.
        </p>
      </div>       
    </div><!--row-->

    <hr>

    <div class="row mb30">
      <div class="col-sm-4">
        <a href="http://webdev-ud.appspot.com/blog" target="_blank">
          <img class="img-responsive" src="<%= asset_path('pythonblog.png') %>" alt="blog developed with Python and Google App Engine SDK">
        </a>
      </div>

      <div class="col-sm-8">
        <h4 class="project-name">A Python Blog</h4>
        <p>
          <a href="http://webdev-ud.appspot.com/blog" title="live" target="_blank"><span>live</span></a>
          |
          <a href="https://github.com/pwdd/webdev" title="source code" target="_blank">
            <span>source code</span>
          </a>
        </p>
        <p>
          <em class="green">Stack: </em>Python, Webapp2, Jinja2, Google App Engine
        </p>
        <p>
          <em class="green">About: </em>A blog built from scratch, incluing authentication, authorization and performance optimization, using Python and Google App Engine SDK.
        </p>
      </div>       
    </div><!--row-->

    <hr>

    <div class="row mb30">
      <div class="col-sm-4">
        <a href="http://pwdd.github.io/ttt" target="_blank">
          <img class="img-responsive" src="<%= asset_path('ttt.png') %>" alt="AngularJS unbeatable tic tac toe">
        </a>
      </div>

      <div class="col-sm-8">
        <h4 class="project-name">Unbeatable Tic Tac Toe</h4>
        <p>
          <a href="http://pwdd.github.io/ttt" title="live" target="_blank"><span>live</span></a>
          |
          <a href="https://github.com/pwdd/pwdd.github.io/tree/master/ttt" title="source code" target="_blank">
            <span>source code</span>
          </a>
        </p>
        <p>
          <em class="green">Stack: </em>AngularJS
        </p>
        <p>
          <em class="green">About: </em>A impossible to win Tic Tac Toe that uses Negamax with Alpha Beta Pruning algorithm for the artificial intelligence. The only results are the computer winning or a tie.
        </p>
      </div>       
    </div><!--row-->

    <hr>

    <div class="row mb30">
      <div class="col-sm-4">
        <a href="http://premierpescados.com.br/quiz" target="_blank">
          <img class="img-responsive" src="<%= asset_path('quiz.png') %>" alt="AngularJS quiz">
        </a>
      </div>

      <div class="col-sm-8">
        <h4 class="project-name">Quiz</h4>
        <p>
          <a href="http://premierpescados.com.br/quiz" title="live" target="_blank"><span>live</span></a>
        </p>
        <p>
          <em class="green">Stack: </em>AngularJS, Bootstrap
        </p>
        <p>
          <em class="green">About: </em>A quiz built using AngularJS upon client set of question and answers. 
        </p>
      </div>       
    </div><!--row-->

    <hr>

    <div class="row mb30">
      <div class="col-sm-4">
        <a href="http://pwdd.github.io/pomodoro_clock/" target="_blank">
          <img class="img-responsive" src="<%= asset_path('pomodoro.png') %>" alt="free code camp project - pomodoro clock">
        </a>
      </div>

      <div class="col-sm-8">
        <h4 class="project-name">Pomodoro Clock</h4>
        <p>
          <a href="http://pwdd.github.io/pomodoro_clock/" title="live" target="_blank"><span>live</span></a>
          |
          <a href="https://github.com/pwdd/pwdd.github.io/tree/master/pomodoro_clock" title="source code" target="_blank">
            <span>source code</span>
          </a>
        </p>
        <p>
          <em class="green">Stack: </em>jQuery, Bootstrap
        </p>
        <p>
          <em class="green">About: </em>A Pomodoro Clock (time management technique) built with jQuery.
        </p>
      </div>       
    </div><!--row-->

    <hr>

    <div class="row mb30">
      <div class="col-sm-4">
        <a href="http://pwdd.github.io/calculator/" target="_blank">
          <img class="img-responsive" src="<%= asset_path('calculator.png') %>" alt="free code camp project javascript calculator">
        </a>
      </div>

      <div class="col-sm-8">
        <h4 class="project-name">JS Calcuator</h4>
        <p>
          <a href="http://pwdd.github.io/calculator/" title="live" target="_blank"><span>live</span></a>
          |
          <a href="https://github.com/pwdd/pwdd.github.io/tree/master/calculator" title="source code" target="_blank">
            <span>source code</span>
          </a>
        </p>
        <p>
          <em class="green">Stack: </em>jQuery, Bootstrap
        </p>
        <p>
          <em class="green">About: </em>A simple calculator built with jQuery.
        </p>
      </div>       
    </div><!--row-->

    <hr>

    <div class="row mb30">
      <div class="col-sm-4">
        <a href="http://codepen.io/pwdd/full/GpvbRw/" target="_blank">
          <img class="img-responsive" src="<%= asset_path('tv.png') %>" alt="free code camp project twitch tv">
        </a>
      </div>

      <div class="col-sm-8">
        <h4 class="project-name">Twitch.tv</h4>
        <p>
          <a href="http://codepen.io/pwdd/full/GpvbRw/" title="live" target="_blank"><span>live</span></a>
          |
          <a href="https://github.com/pwdd/pwdd.github.io/tree/master/twitchtv" title="source code" target="_blank">
            <span>source code</span>
          </a>
        </p>
        <p>
          <em class="green">Stack: </em>AngularJS, Bootstrap, JSON API
        </p>
        <p>
          <em class="green">About: </em>Users Twitch.tv JSON API to keep track of the Free Code Campo channel.
        </p>
      </div>       
    </div><!--row-->

    <hr>

    <div class="row mb30">
      <div class="col-sm-4">
        <a href="http://codepen.io/pwdd/full/JYrgjB/" target="_blank">
          <img class="img-responsive" src="<%= asset_path('campernews.png') %>" alt="free code camp project camper news">
        </a>
      </div>

      <div class="col-sm-8">
        <h4 class="project-name">Camper News</h4>
        <p>
          <a href="http://codepen.io/pwdd/full/JYrgjB/" title="live" target="_blank"><span>live</span></a>
          |
          <a href="https://github.com/pwdd/pwdd.github.io/tree/master/camper_news" title="source code" target="_blank">
            <span>source code</span>
          </a>
        </p>
        <p>
          <em class="green">Stack: </em>AngularJS, Bootstrap, JSON API
        </p>
        <p>
          <em class="green">About: </em>Users Free Code Camp JSON API to track posts published by students (campers).
        </p>
      </div>       
    </div><!--row-->

    <hr>

    <div class="row mb30">
      <div class="col-sm-4">
        <a href="http://codepen.io/pwdd/full/epByWB/" target="_blank">
          <img class="img-responsive" src="<%= asset_path('weather.png') %>" alt="free code camp project local weather">
        </a>
      </div>

      <div class="col-sm-8">
        <h4 class="project-name">Local Weather</h4>
        <p>
          <a href="http://codepen.io/pwdd/full/epByWB/" title="live" target="_blank"><span>live</span></a>
          |
          <a href="https://github.com/pwdd/pwdd.github.io/tree/master/local_weather" title="source code" target="_blank">
            <span>source code</span>
          </a>
        </p>
        <p>
          <em class="green">Stack: </em>jQuery, Bootstrap, JSON API
        </p>
        <p>
          <em class="green">About: </em>Uses two JSON APIs to get user location and current weather conditions to given location, and changes background pictures according to the temperature.
        </p>
      </div>       
    </div><!--row-->

    <hr>

    <div class="row mb30">
      <div class="col-sm-4">
        <a href="http://codepen.io/pwdd/full/yNdKwJ/" target="_blank">
          <img class="img-responsive" src="<%= asset_path('random.png') %>" alt="free code camp project random quotes">
        </a>
      </div>

      <div class="col-sm-8">
        <h4 class="project-name">Random Quotes</h4>
        <p>
          <a href="http://codepen.io/pwdd/full/yNdKwJ/" title="live" target="_blank"><span>live</span></a>
          |
          <a href="https://github.com/pwdd/random_quotes" title="source code" target="_blank">
            <span>source code</span>
          </a>
        </p>
        <p>
          <em class="green">Stack: </em>jQuery
        </p>
        <p>
          <em class="green">About: </em>A simple jQuery quotes generator. I used only a few William Faulkner quotes, generated by clicking a button. They also can be shared on Twitter.
        </p>
      </div>       
    </div><!--row-->

    <hr>

    <div class="row mb30">
      <div class="col-sm-4">
        <a href="http://muchas.com.br" target="_blank" rel="nofollow">
          <img class="img-responsive" src="<%= asset_path('muchas.png') %>" alt="wordpress development">
        </a>
      </div>

      <div class="col-sm-8">
        <h4 class="project-name">Muchas</h4>
        <p>
          <a href="http://muchas.com.br" target="_blank" rel="nofollow"><span>live</span></a>
        </p>
        <p>
          <em class="green">Stack: </em>PHP, jQuery, WordPress
        </p>
        <p>
          <em class="green">About: </em>Website for a Brazilian digital content marketing agency.
        </p>
      </div>       
    </div><!--row-->

    <hr>

    <div class="row mb30">
      <div class="col-sm-4">
        <a href="http://onirikafilms.com" target="_blank" rel="nofollow">
          <img class="img-responsive" src="<%= asset_path('onirika_films.png') %>" alt="wordpress development">
        </a>
      </div>

      <div class="col-sm-8">
        <h4 class="project-name">Onirika Films</h4>
        <p>
          <a href="http://onirikafilms.com" target="_blank" rel="nofollow"><span>live</span></a>
        </p>
        <p>
          <em class="green">Stack: </em>PHP, jQuery, WordPress
        </p>
        <p>
          <em class="green">About: </em>Website for an independent film maker.
        </p>
      </div>       
    </div><!--row-->

    <hr>

    <div class="row mb30">
      <div class="col-sm-4">
        <a href="http://lma.global" target="_blank" rel="nofollow">
          <img class="img-responsive" src="<%= asset_path('lma.png') %>" alt="wordpress development">
        </a>
      </div>

      <div class="col-sm-8">
        <h4 class="project-name">LMA</h4>
        <p>
          <a href="http://lma.global" target="_blank" rel="nofollow"><span>live</span></a>
        </p>
        <p>
          <em class="green">Stack: </em>PHP, jQuery, WordPress
        </p>
        <p>
          <em class="green">About: </em>Website for a Brazilian design agency.
        </p>
      </div>       
    </div><!--row-->

    <hr>

    <div class="row mb30">
      <div class="col-sm-4">
        <a href="http://turminhasaudavel.com.br" target="_blank" rel="nofollow">
          <img class="img-responsive" src="<%= asset_path('turminha.png') %>" alt="wordpress development">
        </a>
      </div>

      <div class="col-sm-8">
        <h4 class="project-name">Turminha Saudável</h4>
        <p>
          <a href="http://turminhasaudavel.com.br" target="_blank" rel="nofollow"><span>live</span></a>
        </p>
        <p>
          <em class="green">Stack: </em>PHP, jQuery, WordPress
        </p>
        <p>
          <em class="green">About: </em>Website for project that encourages kids to have fun while eating healthy and exercising.
        </p>
      </div>       
    </div><!--row-->

    <hr>

    <div class="row mb30">
      <div class="col-sm-4">
        <a href="http://allsportsphotoagency.com" target="_blank" rel="nofollow">
          <img class="img-responsive" src="<%= asset_path('allsports.png') %>" alt="wordpress development">
        </a>
      </div>

      <div class="col-sm-8">
        <h4 class="project-name">All Sports</h4>
        <p>
          <a href="http://allsportsphotoagency" target="_blank" rel="nofollow"><span>live</span></a>
          |
          <a href="https://github.com/pwdd/WP-Plugin_Force_Image_Download" title="source code" target="_blank">
            <span>source code</span>
          </a>
        </p>
        <p>
          <em class="green">Stack: </em>PHP, jQuery, WordPress
        </p>
        <p>
          <em class="green">About: </em>Website a photo agency and development of a plugin that forces download of image on click.
        </p>
      </div>       
    </div><!--row-->

    <hr>

    <div class="row mb30">
      <div class="col-sm-4">
        <a href="http://premierpescados.com.br" target="_blank" rel="nofollow">
          <img class="img-responsive" src="<%= asset_path('premier.png') %>" alt="wordpress development">
        </a>
      </div>

      <div class="col-sm-8">
        <h4 class="project-name">Premier Pescados</h4>
        <p>
          <a href="http://premierpescados.com.br" target="_blank" rel="nofollow"><span>live</span></a>
        </p>
        <p>
          <em class="green">Stack: </em>PHP, jQuery, WordPress
        </p>
        <p>
          <em class="green">About: </em>Website for a regional Brazilian fish and sea food company.
        </p>
      </div>       
    </div><!--row-->

    <hr>

    <div class="row mb30">
      <div class="col-sm-4">
        <a href="http://futuregenerationsgis.com" target="_blank" rel="nofollow">
          <img class="img-responsive" src="<%= asset_path('gis.png') %>" alt="wordpress development">
        </a>
      </div>

      <div class="col-sm-8">
        <h4 class="project-name">Future Generations</h4>
        <p>
          <a href="http://futuregenerationsgis.com" target="_blank" rel="nofollow"><span>live</span></a>
        </p>
        <p>
          <em class="green">Stack: </em>PHP, jQuery, WordPress
        </p>
        <p>
          <em class="green">About: </em>Website for a Geographic Information Services firm.
        </p>
      </div>       
    </div><!--row-->

    <hr>

    <div class="row mb30">
      <div class="col-sm-4">
        <a href="http://paulomoreiraleite.com" target="_blank" rel="nofollow">
          <img class="img-responsive" src="<%= asset_path('paulo_moreira_leite.png') %>" alt="wordpress development">
        </a>
      </div>

      <div class="col-sm-8">
        <h4 class="project-name">Journalistic websites</h4>
        <p>
          <a href="http://paulomoreiraleite.com" target="_blank" rel="nofollow"><span>live</span></a>
        </p>
        <p>
          <em class="green">Stack: </em>PHP, jQuery, WordPress
        </p>
        <p>
          <em class="green">About: </em>Series of three websites for prominent, national Brazilian journalists.
        </p>
      </div>       
    </div><!--row-->


    <p id="projects-notice">&mdash; Some of these websites have owner controlled content, so I'm not responsible for changes that clients do after their websites are done. ;-)</p>
  </section>

  <section id="skills">
    <h3 class="section-title green">Skills</h3>
    <h4 class="section-subtitle yellow">Languages</h4>
    <ul class="list-group resume-list">
      <li class="list-group-item">Ruby</li>
      <li class="list-group-item">Python</li>
      <li class="list-group-item">JavaScript (jQuery)</li>
      <li class="list-group-item">PHP</li>
    </ul>

    <h4 class="yellow">Markups</h4>
    <ul class="list-group resume-list">
      <li class="list-group-item">HTML</li>
      <li class="list-group-item">CSS (SCSS)</li>
    </ul>
    
    <h4 class="yellow">Frameworks</h4>
    <ul class="list-group resume-list">
      <li class="list-group-item">Twitter Bootstrap</li>
      <li class="list-group-item">Ruby on Rails</li>
      <li class="list-group-item">AngularJS</li>      
    </ul>
  
    <h4 class="yellow">Miscellaneous</h4>
    <ul class="list-group resume-list">
      <li class="list-group-item">CoffeeScript</li>
      <li class="list-group-item">Sublime Text</li>
      <li class="list-group-item">Google App Engine SDK</li>
      <li class="list-group-item">Heroku</li>
      <li class="list-group-item">Filezilla</li>
      <li class="list-group-item">Command Line (Linux, Mac &amp; Windows)</li>
      <li class="list-group-item">Inkscape</li>
      <li class="list-group-item">Photoscape</li>
      <li class="list-group-item">WordPress ('Underscores - _s', child-themes and plugin development)</li>
      <li class="list-group-item">Database migration</li>
      <li class="list-group-item">Virtualbox</li>
      <li class="list-group-item">WAMP localhost</li>
      <li class="list-group-item">DNS, cPanel, phpMyAdmin</li>
      <li class="list-group-item">Responsive web design</li>
      <li class="list-group-item">Performance optimization</li>
      <li class="list-group-item">Version Control (Git &amp; Github)</li>          
    </ul>    
  </section>

  <section id="continued-ed">
    <h3 class="section-title orange">Continuing education</h3>

    <p><strong>Engineering Software as a Service (using Rails)</strong></p>
    <p class="mb30">
      Currently enrolled: MOOC &mdash; edX | University of California, Berkeley
    </p>

    <p><strong>Ruby on Rails Web Development Specialization</strong></p>
    <p class="mb30">Currently enrolled: MOOC &mdash; Coursera | Johns Hopkins University</p>

    <p><strong>Free Code Camp</strong></p>
    <p class="mb30">Currently enrolled: The program includes the MEAN stack (MongoDB, ExpressJS, AngularJS, NodeJS), jQuery, Regex and Pair Programming</p>

    <p><strong>Web Application Architecture (Ruby on Rails)</strong></p>
    <p class="mb30">MOOC &mdash; Coursera | New Mexico University</p>

    <p><strong>Web Performance Optimization</strong></p>
    <p class="mb30">MOOC &mdash; Udacity</p>

    <p><strong>Javascript Basics</strong></p>
    <p class="mb30">MOOC &mdash; Udacity</p>

    <p><strong>Intro to Point &amp; Click App Development (Salesforce)</strong></p>
    <p class="mb30">MOOC &mdash; Udacity</p>

    <p><strong>Programming Foundations with Python (OOP)</strong></p>
    <p class="mb30">MOOC &mdash; Udacity</p>

    <p><strong>Web Development</strong></p>
    <p class="mb30">MOOC &mdash; Udacity</p>

    <p><strong>An Introduction to Interactive Programming in Python</strong></p>
    <p class="mb30">MOOC &mdash; Coursera | Rice University</p>

    <p><strong>Metadata: Organizing and Discovering Information</strong></p>
    <p class="mb30">MOOC &mdash; Coursera | The University of North Carolina at Chapel Hill</p>

    <p><strong>Learn to Program: The Fundamentals</strong></p>
    <p class="mb30">MOOC &mdash; Coursera | University of Toronto</p>

    <p><strong>Introduction to Systematic Program Design</strong></p>
    <p class="mb30">MOOC &mdash; Coursera | The University of British Columbia</p>
  </section>

  <section id="education">
    <h3 class="section-title green">Education</h3>
    <p><strong>Sao Paulo State University, Brazil</strong></p>
    <p>1996 to 2001 | B.A. in Social Communication with a specialization in Journalism</p>
  </section>

  <section id="languages">
    
    <h3 class="section-title orange">Human Languages</h3>
    <div class="row">
      <div class="col-md-6">
        <h4 class="center white">English</h4>
        <ul class="list-group resume-list">
          <li class="list-group-item">
            <span class="badge">Fluent</span>
              Speaking
          </li>
          <li class="list-group-item">
            <span class="badge">Fluent</span>
              Reading
          </li>
          <li class="list-group-item">
            <span class="badge">Fluent</span>
              Listening
          </li>
          <li class="list-group-item">
            <span class="badge">Fluent</span>
              Writing
          </li>
        </ul>                
      </div>
      <div class="col-md-6">
        <h4 class="center white">Spanish</h4>
        <ul class="list-group resume-list">
          <li class="list-group-item">
            <span class="badge">Basic</span>
              Speaking
          </li>
          <li class="list-group-item">
            <span class="badge">Advanced</span>
              Reading
          </li>
          <li class="list-group-item">
            <span class="badge">Intermediary</span>
              Listening
          </li>
          <li class="list-group-item">
            <span class="badge">Basic</span>
              Writing
          </li>
        </ul>                
      </div>
    </div>
    <h4 class="center white">Portuguese</h4>
    <ul class="list-group resume-list">
      <li class="list-group-item center">Native language</li>
    </ul>
  </section>
</div>
