<div class="row">
  <div class="col-sm-4 col-sm-offset-4">
    <h2 class="m50">Did I forget my password?</h2>

    <%= form_for(resource, 
                 as: resource_name, 
                 url: password_path(resource_name), 
                 html: { method: :post, class: "form-horizontal" }) do |f| %>
      
      <%= devise_error_messages! %>

      <div class="form-group">
        <%= f.label :email, class: "col-md-3 control-label" %>
        <%= f.email_field :email, autofocus: true, class: "form-control form-smaller" %>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
          <%= f.submit "Send me reset password instructions", class: "btn btn-danger" %>
        </div>
      </div>
    <% end %>
  </div>
</div>