<%= form_for(@post, html: {multipart: true}) do |f| %>
	<ul>
		<% @post.errors.full_messages.each do |error| %>
		<li><%= error %></li>
		<% end %>
	</ul>
	<p>
		<%= f.label :title %>
		<br>
		<%= f.text_field :title %>
	</p>
	<p>
		<%= f.label :body %>
		<br>
		<%= f.text_area :body %>
	</p>
	<p>
		<%= f.label :category_list %>
		<br>
		<%= f.text_field :category_list %>
	</p>
	<p>
		<%= f.label :image_url %>
		<br>
		<%= f.text_field :image_url %>
	</p>
	<p>
		<%= f.label :image_alt %>
		<br>
		<%= f.text_field :image_alt %>
	</p>
	<p>
		<%= f.label :link %>
		<br>
		<%= f.text_field :source_code %>
	</p>
	<p>
		<%= f.submit %>
	</p>	
<% end %>